[Unit]
Description=Puma HTTP Server
After=network.target

[Service]
Type=simple
User=webapp
Group=webapp
WorkingDirectory=/var/www/blog
ExecStart=/bin/bash -lc "puma"
Restart=always

[Install]
WantedBy=multi-user.target
